{% extends 'base.html' %}
{% load static %}

{% block metadescription %}
Shopping Cart
{% endblock %}

{% block title %}
Cart - ABC Company
{% endblock %}

{% block content %}
{% if not cartitem %}
<div class="text-center">
    <br>
    <h1 class="text-center my_title">Your Shopping Cart is Empty</h1>
    <br>
    <p class="text-center">
        Please click <a href="{% url 'myapp:allProdCat' %}">here</a> to continue shopping.
    </p>
</div>
{% else %}
<div class="text-center">
    <br>
    <h1 class="text-center my_title">Your Shopping Cart</h1>
    <br>
</div>

<div class="container">
    <div class="row">
        <!-- Left Side: Cart Items -->
        <div class="col-md-8">
            <table class="table my_custom_tb">
                <thead class="my-custom-thead">
                <tr>
                    <th colspan="5">Your Items</th>
                </tr>
                </thead>
                <tbody>
                {% for cart_item in cartitem %}
                <tr>
                    <td>

                        <a href="{{ cart_item.product.get_absolute_url }}">
                            {% if cart_item.product.images %}
                            <img src="{{ cart_item.product.images.url }}" class="custom_image" style=""
                                 alt="{{ cart_item.product.names }}">
                            {% else %}
                            <img src="{% static 'img/fail.jpg' %}" class="custom_image" style=""
                                 alt="{{ cart_item.product.names }}">
                        </a>

                        {% endif %}


                    </td>
                    <td class="text-left">
                        {{ cart_item.product.names }}<br>
                        SKU: {{ cart_item.product_id }}<br>
                        Price: ${{ cart_item.product.price }}<br>
                        Qty: {{ cart_item }}
                    </td>
                    <td>Total: ${{ cart_item.subTotal }}</td>
                    <td>
                        {% if cart_item.quantity < cart_item.product.stock %}
                        <a href="{% url 'cart_app:addToCart' cart_item.product.id %}" class="custom_icon">&nbsp;<i
                                class="fa-solid fa-cart-plus"></i>
                        </a>

                        <a href="{% url 'cart_app:minusCart' cart_item.product.id %}" class="custom_icon">
                            &nbsp;
                            <i class="bi bi-cart"></i>
                        </a>
                        &nbsp;
                        <a href="{% url 'cart_app:removeCart' cart_item.product.id %}" class="custom_icon">
                            <i class="fa-solid fa-trash custom_icon"></i>
                        </a>
                        {% else %}
                        &nbsp;
                        <a href="{% url 'cart_app:minusCart' cart_item.product.id %}" class="custom_icon">
                            <i class="bi bi-cart"></i>
                        </a>
                        &nbsp;
                        <a href="{% url 'cart_app:removeCart' cart_item.product.id %}" class="custom_icon">
                            <i class="fa-solid fa-trash custom_icon"></i>
                        </a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <!-- Right Side: Checkout Information -->
        <div class="col-md-4">
            <table class="table my_custom_tb">
                <thead class="my-custom-thead">
                <tr>
                    <th>Check-out</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th>
                        Please review your shopping cart before proceeding with payment.
                    </th>
                </tr>
                <tr>
                    <th>
                        <div class="text-center">
                            Your Total is : <strong>${{total}}</strong>
                        </div>
                    </th>
                </tr>
                </tbody>
            </table>
            <div class="max-auto text-center">
                <a href="{% url 'myapp:allProdCat' %}" class="btn btn-secondary btn-block my_custom_button">Continue
                    Shopping</a>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}
