{% extends 'base.html' %}
{% load static %}

{% block metadescription %}
{% if category %}
{{ category.description|truncatewords:155 }}
{% else %}
Your fallback meta description here
{% endif %}
{% endblock %}

{% block title %}
{% if category %}
{{ category.name }} - ABC Company
{% else %}
See Our Data
{% endif %}
{% endblock %}

{% block content %}
{% if category %}
<div class="row my_row">
    <div class="mx_auto">
        <p><a href="{% url 'myapp:allProdCat' %}">Back to All Categories</a></p>
    </div>
</div>
{% endif %}

<div class="flex-container">
    {% if category %}
    <div class="container1 text-center">
        <img class="my_image_c" src="{{ category.image.url }}" alt="{{ category.name }}">
    </div>
    <div class="container2">
        <h1 class="text-center my_title">{{ category.name }}</h1>
        <p class="text-justify">{{ category.description }}</p>
    </div>
    {% else %}
    <div class="container1">
        <div class="slide-up-container">
            <div class="slide-up-content">
                <img class="" src="{% static 'img/banner1.jpg' %}" alt="Our Product">
            </div>
        </div>

    </div>
    <br>
    <div class="container2">
        <h1 class="text-center">OUR PRODUCTS</h1>
        <p class="text-center">At Fresh to Home, we pride ourselves on delivering a diverse range of high-quality, fresh
            products right to your doorstep. Our selection includes farm-fresh fruits and vegetables, premium cuts of
            meat, and freshly caught seafood, all sourced directly from trusted farms and fisheries. We ensure that
            every item is carefully inspected for quality and freshness before it reaches you, so you can enjoy the best
            of nature's offerings without leaving your home. Whether you're preparing a family meal or looking for
            healthy snack options, Fresh to Home provides the convenience and assurance of top-notch, freshly-sourced
            ingredients.</p>
    </div>
    {% endif %}
</div>

<div class="container">
    <div class="row">
        {% for product in products %}
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
            <div class="card h-100 text-center">
                <a href="{{ product.get_url }}">
                    {% if  product.images %}
                    <img class="card-img-top my_image"
                         src="{{ product.images.url }}"
                         alt="{{ product.names }}">
                    {% else %}
                    <img class="card-img-top my_image"
                         src="{% static 'img/fail.jpg' %}"
                         alt="{{ product.names }}">
                    {% endif %}
                </a>
                <div class="card-body">
                    <h5 class="card-title">{{ product.names }}</h5>
                    <p class="card-text">{{ product.decs }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    {% if products.paginator.num_pages > 1 %}
    <div class="mx-auto">
        <hr>
        <div class="text-center">
            {% for pg in products.paginator.page_range %}
            <a href="?page={{ pg }}" class="btn btn-light btn-sm {% if products.number == pg %} active {% endif %}">
                {{ pg }}
            </a>
            {% endfor %}
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}
